* {
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #2C3E50;
    text-align: center;
    margin: 0;
}

.fonts-loaded body {
    font-family: 'Oswald', sans-serif;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
    margin-top: -30px;
}

h3 {
    font-size: 150%;
}

hr {
    opacity: 2;
    border: 2px solid;
}

main,
footer {
    text-align: center;
}

section {
    display: inline-block;
    padding-left: 20%;
    padding-right: 20%;
}

section h3 {
    text-align: center;
}

section.name {
    padding-top: 50px;
    height: 300px;
    text-align: center;
}

section.skills,
section.next-steps {
    text-align: initial;
    width: 100%;
}

body footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    min-height: 200px;
    text-align: center;
    margin: 0;
}

footer section {
    text-align: center;
}

footer a {
    margin: 20px;
    background-color: transparent;
    text-decoration: none;
}

section.next-steps {
    background-color: #DB0A5B;
    color: white;
    width: 100%;
}

section.name,
section.skills {
    background-color: #2C3E50;
    color: white;
    width: 100%;
}

section.carrer {
    background-color: #FFFFFF;
}

@media screen and (max-width:425px) {
    footer a {
        margin: 5px;
    }
}

@media screen and (max-width:800px) {
    section {
        font-size: 1.3em;
        padding-left: 10%;
        padding-right: 10%;
    }
    section.name {
        height: 600px;
    }
    footer {
        height: 240px;
    }
}

@media screen and (min-width:426px) and (max-width:800px) {
    footer {
        height: 200px;
    }
}

@media screen and (min-width:550px) and (max-width:800px) {
    section.name {
        height: 450px;
    }
}

@media screen and (min-width:801px) and (max-width:1000px) {
    section.name {
        height: 350px;
    }
}

@media screen and (max-width:1000px) {
    section.skills,
    section.next-steps {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1001px) {
    section.skills,
    section.next-steps {
        width: 50%;
        padding-left: 2%;
        padding-right: 2%;
    }
    section.about-me,
    section.carrer {
        height: 200px;
    }
    section.skills,
    section.next-steps {
        height: 450px;
    }
    section.skills {
        float: left;
        direction: rtl;
    }
    section.skills h3 {
        padding-right: 10%;
        text-align: right;
    }
    section.next-steps h3 {
        padding-left: 10%;
        text-align: left;
    }
}

@media screen and (min-width:1300px) {
    section.name {
        height: 350px;
    }
}

@media screen and (min-width:1300px) and (max-width: 1600px) {
    section.name {
        height: 350px;
    }
    section {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width:1601px) {
    section {
        padding-left: 30%;
        padding-right: 30%;
    }
}